body {
    background: azure;
}


#logo {
    height: 400px;
}

.center {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.container {
    margin-right: 120px;
    margin-left: 120px;
}

.ingredient-type {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.row {
    width: 25%;
    background-color: cadetblue;
    display: inline-block;
    text-align: center;
    margin: 12px;
    /* padding: 8px; */
    border: 2px solid midnightblue;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 2px 5px 5px 4px darkgrey;
}

.clickableLabel {
    /* border:1px solid #ccc; */
    padding:10px;
    /* margin:0 0 10px; */
    display:block;
}

.row:hover {
    background: #439293;
    cursor:pointer;
}

.checkbox {
    width: 30%;
    float: left;
}

.break {
    clear: both;
}

img.type {
    width: 40%;
    height: 120px;
    float: end;
}

h1, h3 {
    color: cadetblue;
    text-align: center;
}

button {
    width: 200px;
}

.form-field {
    text-align: left;
    margin-bottom: 8px;
    display: inline-grid;
}

.form-field input {
    width: 240px;
}

.validationError {
    color: tomato;
}

form.logout {
    display: flex;
    justify-content: right;
}

input#logout {
    background-color: #439293;
    padding: 8px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: azure;
}

input#logout:hover {
    background-color: #276969;
}