body {
    background: azure;
}


#logo {
    height: 400px;
}

.center {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.container {
    margin-right: 120px;
    margin-left: 120px;
}

.row {
    width: 25%;
    background-color: cadetblue;
    display: inline-block;
    text-align: center;
    margin: 12px;
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 10px 5px 5px black;
}

.checkbox {
    width: 30%;
    float: left;
}

.break {
    clear: both;
}

img.type {
    width: 40%;
    height: 120px;
    float: end;
}

h1, h3 {
    color: cadetblue;
    text-align: center;
}

button {
    width: 200px;
}

.form-field {
    text-align: left;
    margin-bottom: 8px;
    display: inline-block;
}

.validationError {
    color: tomato;
}