body {
    background: antiquewhite;
}

.grid {
    box-sizing: border-box;
}


#logo {
    height: 400px;
}

.center {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.row {
    width: 25%;
    float: left;
    margin: 4%;
}

.checkbox {
    width: 40%;
    float: left;
}

.break {
    clear: both;
}

img.type {
    width: 30%;
    float: left;
}

h1, h3 {
    color: cadetblue;
    text-align: center;
}

button {
    width: 200px;
}

