<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pizza Design</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>

    <div th:class="container">
        <h1 th:class="center">Mazlemeleri Seçmekte Özgürsün</h1>
        <hr>

        <form method="POST" th:object="${pizza}">

            <h3>PROTEIN</h3>
            <div th:each="ingredient : ${protein}" th:class="row">
               <div th:class="checkbox">
                   <input th:field="*{ingredients}" type="checkbox"
                          th:value="${ingredient.id}">
                   <span th:text="${ingredient.name}">INGREDIENT</span>
               </div>
                <img th:src="@{'/images/ingredientImage/'+${ingredient.id}+'.jpg'}" th:alt="img" th:class="type">
            </div>

            <div th:class="break"></div>
            <hr>

            <h3>PEYNİR</h3>
            <div th:each="ingredient : ${cheese}" th:class="row">
                <div th:class="checkbox">
                    <input th:field="*{ingredients}" th:type="checkbox"
                           th:value="${ingredient.id}">
                    <span th:text="${ingredient.name}">INGREDIENTS</span>

                </div>
                <img th:src="@{'/images/ingredientImage/'+${ingredient.id}+'.jpg'}" th:alt="img" th:class="type">
            </div>

            <div th:class="break"></div>
            <hr>

            <h3>SEBZE-MEYVE</h3>
            <div th:each="ingredient : ${veggies}" th:class="row">
                <div th:class="checkbox">
                    <input th:field="*{ingredients}" type="checkbox"
                           th:value="${ingredient.id}">
                    <span th:text="${ingredient.name}">INGREDIENT</span>
                </div>
                <img th:src="@{'/images/ingredientImage/'+${ingredient.id}+'.jpg'}" th:alt="img" th:class="type">
            </div>

            <div th:class="break"></div>
            <hr>

            <div th:class="center">
                <label th:for="*{name}">Pizzanıza isim verin:</label>
                <br>

                <input th:field="*{name}" th:type="text" placeholder="favori pizzam">
            </div>
            <br>

            <div th:class="center">
                <button type="submit" th:class="button">Tamam</button>
            </div>

        </form>


    </div>

</body>
</html>