<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pizza Cloud | Home</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
    <div th:class="center">
        <h1>Welcome to...</h1>
        <div th:class="center" th:id="logo">
            <img th:src="@{/images/pizza-cloud-logo.svg}" th:alt="logo" th:class="center">
        </div>

        <a th:class="center" th:href="@{/}">Design a piece of pizza</a>
    </div>
</body>
</html>