<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Pizza Cloud | Login</title>
</head>
<body>
<h1>Login</h1>
<img th:src="@{/images/pizza-cloud-logo.svg}">

<div th:if="${error}">
  Giriş gerçekleştirilemedi. Kullanıcı adınızı ve şifrenizi kontrol ediniz.
</div>

<p>Hesabınız yok mu? Tıklayın:
  <a th:href="@{/register}">kaydol</a>
</p>
<hr>

<a href="/oauth2/authorization/google">
  Google ile giriş yap..
</a>
<hr>

<form method="POST" th:action="@{/login}" id="loginForm">

  <label for="username">Kullanıcı adı: </label>
  <input type="text" name="username" id="username"><br>

  <label for="password">Şifre: </label>
  <input type="password" name="password" id="password"><br>

  <input type="submit" value="Login">

</form>

</body>
</html>