<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
  <title>Pizza Cloud</title>
  <link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>

<div class="container">

  <form method="POST" th:action="@{/logout}" class="logout">
    <input id="logout" type="submit" value="Logout"/>
  </form>

  <div th:class="container">
    <form method="POST" th:action="@{/orders}" th:object="${pizzaOrder}">
      <h1>Tasarladığınız Pizzayı Sipariş Edin!</h1>

      <img th:src="@{/images/pizza-cloud-logo.svg}" height="120px" th:class="center"/>

      <div id="another">
        <a th:href="@{/design}">Bir pizza daha tasarla</a>
      </div>
      <br/>

      <h3>Siparişinizdeki pizzalar:</h3>
      <div id="order-list">
        <ul>
          <li th:each="pizza : ${pizzaOrder.pizzas}">
            <span th:text="${pizza.name}">pizza name</span></li>
        </ul>
      </div>

      <h3>Şu adrese teslim et...</h3>
      <div class="form-field">
        <label th:for="deliveryName">Alıcı-İsim: </label>
        <input type="text" th:field="*{deliveryName}"/>
        <div class="validationError"
             th:if="${#fields.hasErrors('deliveryName')}"
             th:errors="*{deliveryName}">Delivery Name Error</div>
      </div>
      <br/>

      <div class="form-field">
        <label th:for="deliveryStreet">Cadde/Sokak: </label>
        <input type="text" th:field="*{deliveryStreet}"/>
        <div class="validationError"
             th:if="${#fields.hasErrors('deliveryStreet')}"
             th:errors="*{deliveryStreet}">Street Error</div>
      </div>
      <br/>

      <div class="form-field">
        <label th:for="deliveryCity">Şehir: </label>
        <input type="text" th:field="*{deliveryCity}"/>
        <div class="validationError"
             th:if="${#fields.hasErrors('deliveryCity')}"
             th:errors="*{deliveryCity}">City Error</div>
      </div>
      <br/>

      <div class="form-field">
        <label th:for="deliveryZip">Zip kodu: </label>
        <input type="text" th:field="*{deliveryZip}"/>
        <div class="validationError"
             th:if="${#fields.hasErrors('deliveryZip')}"
             th:errors="*{deliveryZip}">Zip Error</div>
      </div>
      <br/>

      <h3>Ödeme bilgileri...</h3>
      <div class="form-field">
        <label th:for="ccNumber">Kredi Kartı #: </label>
        <input type="text" th:field="*{ccNumber}"/>
        <div class="validationError"
             th:if="${#fields.hasErrors('ccNumber')}"
             th:errors="*{ccNumber}">CC Num Error</div>
      </div>
      <br/>
      <div class="form-field">
        <label th:for="ccExpiration">Expiration: </label>
        <input type="text" th:field="*{ccExpiration}"/>
        <div class="validationError"
             th:if="${#fields.hasErrors('ccExpiration')}"
             th:errors="*{ccExpiration}">ccExpiration Error</div>
      </div>
      <br/>
      <div class="form-field">
        <label th:for="${ccCVV}">CVV: </label>
        <input type="text" th:field="*{ccCVV}"/>
        <div class="validationError"
             th:if="${#fields.hasErrors('ccCVV')}"
             th:errors="*{ccCVV}">ccCVV Error</div>
      </div>
      <br/>
      <div class="center">
        <input class="button" type="submit" value="Siparişi Onayla"/>
      </div>
    </form>
  </div>
</div>

</body>
</html>