<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pizza Cloud | Register</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>



<div class="bg-img-box">

    <img th:src="@{/images/register.png}">

    <form th:action="@{/register}" method="POST" th:object="${registrationForm}" id="registerForm">

        <h1 style="color: white">Register</h1>

        <div class="form-field">
            <label th:for="username">Kullanıcı Adı: </label>
            <input type="text" name="username" th:field="*{username}">
            <div class="validationError"
                 th:if="${#fields.hasErrors('username')}"
                 th:errors="*{username}">username Error</div>
        </div>

        <div class="form-field">
            <label th:for="password">Şifre: </label>
            <input type="password" name="password" th:field="*{password}">
            <div class="validationError"
                 th:if="${#fields.hasErrors('password')}"
                 th:errors="*{password}">password Error</div>
        </div>



        <div class="form-field">
            <label th:for="confirm">Şifre tekrar: </label>
            <input type="password" name="confirm" th:field="*{password}">
            <div class="validationError"
                 th:if="${#fields.hasErrors('password')}"
                 th:errors="*{password}">password Error</div>
        </div>



        <div class="form-field">
            <label th:for="fullName">İsim soyisim: </label>
            <input type="text" name="fullName" th:field="*{fullName}">
            <div class="validationError"
                 th:if="${#fields.hasErrors('fullName')}"
                 th:errors="*{fullName}">fullName Error</div>
        </div>



        <div class="form-field">
            <label th:for="street">Cadde: </label>
            <input type="text" name="street" th:field="*{street}">
            <div class="validationError"
                 th:if="${#fields.hasErrors('street')}"
                 th:errors="*{street}">street Error</div>
        </div>



        <div class="form-field">
            <label th:for="city">Şehir: </label>
            <input type="text" name="city" th:field="*{city}">
            <div class="validationError"
                 th:if="${#fields.hasErrors('city')}"
                 th:errors="*{city}">city Error</div>
        </div>



        <div class="form-field">
            <label th:for="zip">Zip: </label>
            <input type="text" name="zip" th:field="*{zip}">
            <div class="validationError"
                 th:if="${#fields.hasErrors('zip')}"
                 th:errors="*{zip}">zip Error</div>
        </div>



        <div class="form-field">
            <label th:for="phone">Telefon: </label>
            <input type="text" name="phone" th:field="*{phone}">
            <div class="validationError"
                 th:if="${#fields.hasErrors('phone')}"
                 th:errors="*{phone}">phone Error</div>
        </div>

        <div class="btnRegisterPart">
            <input id="btnRegister" type="submit" value="Kayıt Ol">
        </div>

    </form>
</div>

</body>
</html>