<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Pizza Cloud | Register</title>
    </head>
    <body>

    <h1>Register</h1>

    <img th:src=@"{/images/PizzaCloud.png}">

    <form th:action="@{/register}" method="POST" id="registerForm">

        <label for="username">Kullanıcı Adı: </label>
        <input type="text" name="username"> <br>

        <label for="password">Şifre: </label>
        <input type="password" name="password"> <br>

        <label for="confirm">Şifre tekrar: </label>
        <input type="password" name="confirm"> <br>

        <label for="fullname">İsim soyisim: </label>
        <input type="text" name="fullname"> <br>

        <label for="street">Cadde: </label>
        <input type="text" name="username"> <br>

        <label for="city">Şehir: </label>
        <input type="text" name="username"> <br>

        <label for="zip">Zip: </label>
        <input type="text" name="zip"> <br>

        <label for="phone">Telefon: </label>
        <input type="text" name="phone"> <br>

        <input type="submit" value="Kayıt Ol">

    </form>

    </body>
</html>